body{
  margin: 3;
}
p{
  Color:#0066ff;
  Font-Family:fansaty;
}
.Citation{
  background-color: #00000;
  font-family: serif;
  font-size: .4em;
}

a:active{
  color:#000;
}
a:hover{
  color:#000;
  font-size:  1.3em;
}
